*{
    box-sizing: border-box;
    margin: 0;
  }
  h1, h2, p {
    color: white;
    font-family: 'Zilla Slab Highlight', cursive;
  }
  h1 {
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 20px;
    font-weight: 900;
  }
  h2 {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Zilla Slab Highlight', cursive;
}
    
div {

        display: block;
      }

      header.home {
        background-attachment: fixed;
        background-image: url(../images/corner.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px -13px 35px 14px rgb(177, 210, 248);
        height: 600px;
        overflow: hidden;
        position: relative;
        width: 200vmax;
      }
      header.home::before {
        height: 100vh;
        position: absolute;
        top: 0;
        bottom:0;
        right: 0;
        left: 0;
        width: 100%;
      }
      header.top-head {
        background: black;
        box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.2);
        position:fixed;
        top:0;
        left:0;
        width:100vw;
        
      }
      nav.top {
        text-align: left;
        display: inline-block;
        margin-left: 10px;
        margin-right: 5px;
        margin-top: 15px;
        position: relative;
        font-family:sans-serif;
        font-size:20px;
        width: 98vw;
        height: 50px;
      }
      nav.top a {
        color: white;
        text-decoration: none;
        padding-left:5px;
      }
      nav.top li {
       
        display: inline;
        position: relative;
      }
      nav.top li:hover {
        background: rgb(240, 228, 123);
      }
      nav.top li::before {
        position: absolute;
        top:4px;
        left:0;
        bottom:0;
        border-left: solid 5px white;
        height: 80%;
      }
      div.pos-container {
        position: absolute;
        left: 0;
        width: 50vw;
        margin-left: 20px;
        margin-bottom: 20px;
      }
      div.pos-container {
        bottom:0;  
      }
      img.pos-logo {
        width:100px;
        vertical-align: middle;
        transition: all ease-in-out 3s;
      }
      img.pos-logo:hover {
        transform:rotate3d(0, 1, 0.5, 3.142rad);
      
      }
      div.pos-text{
        display:inline-block;
        vertical-align: middle;
      }
      div.pos-text h1 {
        font-size: 50px;
        font-family: 'Zilla Slab Highlight', cursive;
      }
      div.pos-text h2 {
        font-size: 30px;
        font-family: 'Zilla Slab Highlight', cursive;
      }

      .pos1-text{
        margin-left: 50px;
        text-align:left;
      }
      .pos1-about h3 {
        font-size: 50px;
        text-align:center;
        box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.2);
        font-family: 'Zilla Slab Highlight', cursive;

      }
      .pos1-about p{
        font-family:'Times New Roman';
        color: darkgoldenrod;
        font-size: large;
      }
      